modules/service-stubs/org.wso2.intcloud.services.tenant.carbonapps.undeployer.stub/src/main/resources/TenantCarbonAppUnDeployerAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://undeployer.carbonapps.tenant.services.intcloud.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://undeployer.carbonapps.tenant.services.intcloud.wso2.org">
   <wsdl:documentation>TenantCarbonAppUnDeployerAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://undeployer.carbonapps.tenant.services.intcloud.wso2.org">
         <xs:element name="TenantCarbonAppUnDeployerAdminServiceException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="TenantCarbonAppUnDeployerAdminServiceException" nillable="true" type="ns:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="listAllApplicationsInTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="listAllApplicationsInTenantResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteApplicationInTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                  <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="listAllApplicationsInTenantRequest">
      <wsdl:part name="parameters" element="ns:listAllApplicationsInTenant"/>
   </wsdl:message>
   <wsdl:message name="listAllApplicationsInTenantResponse">
      <wsdl:part name="parameters" element="ns:listAllApplicationsInTenantResponse"/>
   </wsdl:message>
   <wsdl:message name="TenantCarbonAppUnDeployerAdminServiceException">
      <wsdl:part name="parameters" element="ns:TenantCarbonAppUnDeployerAdminServiceException"/>
   </wsdl:message>
   <wsdl:message name="deleteApplicationInTenantRequest">
      <wsdl:part name="parameters" element="ns:deleteApplicationInTenant"/>
   </wsdl:message>
   <wsdl:portType name="TenantCarbonAppUnDeployerAdminServicePortType">
      <wsdl:operation name="listAllApplicationsInTenant">
         <wsdl:input message="ns:listAllApplicationsInTenantRequest" wsaw:Action="urn:listAllApplicationsInTenant"/>
         <wsdl:output message="ns:listAllApplicationsInTenantResponse" wsaw:Action="urn:listAllApplicationsInTenantResponse"/>
         <wsdl:fault message="ns:TenantCarbonAppUnDeployerAdminServiceException" name="TenantCarbonAppUnDeployerAdminServiceException" wsaw:Action="urn:listAllApplicationsInTenantTenantCarbonAppUnDeployerAdminServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteApplicationInTenant">
         <wsdl:input message="ns:deleteApplicationInTenantRequest" wsaw:Action="urn:deleteApplicationInTenant"/>
         <wsdl:fault message="ns:TenantCarbonAppUnDeployerAdminServiceException" name="TenantCarbonAppUnDeployerAdminServiceException" wsaw:Action="urn:deleteApplicationInTenantTenantCarbonAppUnDeployerAdminServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TenantCarbonAppUnDeployerAdminServiceSoap11Binding" type="ns:TenantCarbonAppUnDeployerAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="listAllApplicationsInTenant">
         <soap:operation soapAction="urn:listAllApplicationsInTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUnDeployerAdminServiceException">
            <soap:fault use="literal" name="TenantCarbonAppUnDeployerAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteApplicationInTenant">
         <soap:operation soapAction="urn:deleteApplicationInTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="TenantCarbonAppUnDeployerAdminServiceException">
            <soap:fault use="literal" name="TenantCarbonAppUnDeployerAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantCarbonAppUnDeployerAdminServiceSoap12Binding" type="ns:TenantCarbonAppUnDeployerAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="listAllApplicationsInTenant">
         <soap12:operation soapAction="urn:listAllApplicationsInTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUnDeployerAdminServiceException">
            <soap12:fault use="literal" name="TenantCarbonAppUnDeployerAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteApplicationInTenant">
         <soap12:operation soapAction="urn:deleteApplicationInTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="TenantCarbonAppUnDeployerAdminServiceException">
            <soap12:fault use="literal" name="TenantCarbonAppUnDeployerAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantCarbonAppUnDeployerAdminServiceHttpBinding" type="ns:TenantCarbonAppUnDeployerAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="listAllApplicationsInTenant">
         <http:operation location="listAllApplicationsInTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteApplicationInTenant">
         <http:operation location="deleteApplicationInTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TenantCarbonAppUnDeployerAdminService">
      <wsdl:port name="TenantCarbonAppUnDeployerAdminServiceHttpsSoap11Endpoint" binding="ns:TenantCarbonAppUnDeployerAdminServiceSoap11Binding">
         <soap:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppUnDeployerAdminService.TenantCarbonAppUnDeployerAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantCarbonAppUnDeployerAdminServiceHttpsSoap12Endpoint" binding="ns:TenantCarbonAppUnDeployerAdminServiceSoap12Binding">
         <soap12:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppUnDeployerAdminService.TenantCarbonAppUnDeployerAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantCarbonAppUnDeployerAdminServiceHttpsEndpoint" binding="ns:TenantCarbonAppUnDeployerAdminServiceHttpBinding">
         <http:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppUnDeployerAdminService.TenantCarbonAppUnDeployerAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>