modules/service-stubs/org.wso2.intcloud.services.tenant.ntasks.stub/src/main/resources/TenantNTaskAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ntasks.tenant.services.intcloud.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ntasks.tenant.services.intcloud.wso2.org">
   <wsdl:documentation>TenantNTaskAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ntasks.tenant.services.intcloud.wso2.org">
         <xs:element name="TenantNTaskAdminServiceException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="TenantNTaskAdminServiceException" nillable="true" type="ns:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="getRunningESBTaskListInTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getRunningESBTaskListInTenantResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isESBTaskRunningInTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isESBTaskRunningInTenantResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getRunningESBTaskListInTenantRequest">
      <wsdl:part name="parameters" element="ns:getRunningESBTaskListInTenant"/>
   </wsdl:message>
   <wsdl:message name="getRunningESBTaskListInTenantResponse">
      <wsdl:part name="parameters" element="ns:getRunningESBTaskListInTenantResponse"/>
   </wsdl:message>
   <wsdl:message name="TenantNTaskAdminServiceException">
      <wsdl:part name="parameters" element="ns:TenantNTaskAdminServiceException"/>
   </wsdl:message>
   <wsdl:message name="isESBTaskRunningInTenantRequest">
      <wsdl:part name="parameters" element="ns:isESBTaskRunningInTenant"/>
   </wsdl:message>
   <wsdl:message name="isESBTaskRunningInTenantResponse">
      <wsdl:part name="parameters" element="ns:isESBTaskRunningInTenantResponse"/>
   </wsdl:message>
   <wsdl:portType name="TenantNTaskAdminServicePortType">
      <wsdl:operation name="getRunningESBTaskListInTenant">
         <wsdl:input message="ns:getRunningESBTaskListInTenantRequest" wsaw:Action="urn:getRunningESBTaskListInTenant"/>
         <wsdl:output message="ns:getRunningESBTaskListInTenantResponse" wsaw:Action="urn:getRunningESBTaskListInTenantResponse"/>
         <wsdl:fault message="ns:TenantNTaskAdminServiceException" name="TenantNTaskAdminServiceException" wsaw:Action="urn:getRunningESBTaskListInTenantTenantNTaskAdminServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="isESBTaskRunningInTenant">
         <wsdl:input message="ns:isESBTaskRunningInTenantRequest" wsaw:Action="urn:isESBTaskRunningInTenant"/>
         <wsdl:output message="ns:isESBTaskRunningInTenantResponse" wsaw:Action="urn:isESBTaskRunningInTenantResponse"/>
         <wsdl:fault message="ns:TenantNTaskAdminServiceException" name="TenantNTaskAdminServiceException" wsaw:Action="urn:isESBTaskRunningInTenantTenantNTaskAdminServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TenantNTaskAdminServiceSoap11Binding" type="ns:TenantNTaskAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getRunningESBTaskListInTenant">
         <soap:operation soapAction="urn:getRunningESBTaskListInTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantNTaskAdminServiceException">
            <soap:fault use="literal" name="TenantNTaskAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="isESBTaskRunningInTenant">
         <soap:operation soapAction="urn:isESBTaskRunningInTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantNTaskAdminServiceException">
            <soap:fault use="literal" name="TenantNTaskAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantNTaskAdminServiceSoap12Binding" type="ns:TenantNTaskAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getRunningESBTaskListInTenant">
         <soap12:operation soapAction="urn:getRunningESBTaskListInTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantNTaskAdminServiceException">
            <soap12:fault use="literal" name="TenantNTaskAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="isESBTaskRunningInTenant">
         <soap12:operation soapAction="urn:isESBTaskRunningInTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantNTaskAdminServiceException">
            <soap12:fault use="literal" name="TenantNTaskAdminServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantNTaskAdminServiceHttpBinding" type="ns:TenantNTaskAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getRunningESBTaskListInTenant">
         <http:operation location="getRunningESBTaskListInTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isESBTaskRunningInTenant">
         <http:operation location="isESBTaskRunningInTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TenantNTaskAdminService">
      <wsdl:port name="TenantNTaskAdminServiceHttpsSoap11Endpoint" binding="ns:TenantNTaskAdminServiceSoap11Binding">
         <soap:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantNTaskAdminService.TenantNTaskAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantNTaskAdminServiceHttpsSoap12Endpoint" binding="ns:TenantNTaskAdminServiceSoap12Binding">
         <soap12:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantNTaskAdminService.TenantNTaskAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantNTaskAdminServiceHttpsEndpoint" binding="ns:TenantNTaskAdminServiceHttpBinding">
         <http:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantNTaskAdminService.TenantNTaskAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>