modules/service-stubs/org.wso2.intcloud.services.tenantcappuploader.stub/src/main/resources/TenantCarbonAppUploader.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://tenantcappuploader.services.intcloud.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2608="http://api.registry.carbon.wso2.org/xsd" xmlns:ax2607="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tenantcappuploader.services.intcloud.wso2.org">
   <wsdl:documentation>TenantCarbonAppUploader</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax2609="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
         <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
         <xs:complexType name="RegistryException">
            <xs:complexContent>
               <xs:extension base="ax2609:RegistryException">
                  <xs:sequence/>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax2610="http://exceptions.core.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tenantcappuploader.services.intcloud.wso2.org">
         <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
         <xs:element name="TenantCarbonAppUploaderRegistryException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2610:RegistryException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deployCarbonApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="carbonApplicationName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deployCarbonApplicationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadCarbonApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="carbonApplicationName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="carbonApplicationPath" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadCarbonApplicationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeCarbonApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="carbonApplicationName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeCarbonApplicationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
         <xs:complexType name="RegistryException">
            <xs:sequence/>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="removeCarbonApplicationRequest">
      <wsdl:part name="parameters" element="ns:removeCarbonApplication"/>
   </wsdl:message>
   <wsdl:message name="removeCarbonApplicationResponse">
      <wsdl:part name="parameters" element="ns:removeCarbonApplicationResponse"/>
   </wsdl:message>
   <wsdl:message name="TenantCarbonAppUploaderRegistryException">
      <wsdl:part name="parameters" element="ns:TenantCarbonAppUploaderRegistryException"/>
   </wsdl:message>
   <wsdl:message name="deployCarbonApplicationRequest">
      <wsdl:part name="parameters" element="ns:deployCarbonApplication"/>
   </wsdl:message>
   <wsdl:message name="deployCarbonApplicationResponse">
      <wsdl:part name="parameters" element="ns:deployCarbonApplicationResponse"/>
   </wsdl:message>
   <wsdl:message name="uploadCarbonApplicationRequest">
      <wsdl:part name="parameters" element="ns:uploadCarbonApplication"/>
   </wsdl:message>
   <wsdl:message name="uploadCarbonApplicationResponse">
      <wsdl:part name="parameters" element="ns:uploadCarbonApplicationResponse"/>
   </wsdl:message>
   <wsdl:portType name="TenantCarbonAppUploaderPortType">
      <wsdl:operation name="removeCarbonApplication">
         <wsdl:input message="ns:removeCarbonApplicationRequest" wsaw:Action="urn:removeCarbonApplication"/>
         <wsdl:output message="ns:removeCarbonApplicationResponse" wsaw:Action="urn:removeCarbonApplicationResponse"/>
         <wsdl:fault message="ns:TenantCarbonAppUploaderRegistryException" name="TenantCarbonAppUploaderRegistryException" wsaw:Action="urn:removeCarbonApplicationTenantCarbonAppUploaderRegistryException"/>
      </wsdl:operation>
      <wsdl:operation name="deployCarbonApplication">
         <wsdl:input message="ns:deployCarbonApplicationRequest" wsaw:Action="urn:deployCarbonApplication"/>
         <wsdl:output message="ns:deployCarbonApplicationResponse" wsaw:Action="urn:deployCarbonApplicationResponse"/>
         <wsdl:fault message="ns:TenantCarbonAppUploaderRegistryException" name="TenantCarbonAppUploaderRegistryException" wsaw:Action="urn:deployCarbonApplicationTenantCarbonAppUploaderRegistryException"/>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplication">
         <wsdl:input message="ns:uploadCarbonApplicationRequest" wsaw:Action="urn:uploadCarbonApplication"/>
         <wsdl:output message="ns:uploadCarbonApplicationResponse" wsaw:Action="urn:uploadCarbonApplicationResponse"/>
         <wsdl:fault message="ns:TenantCarbonAppUploaderRegistryException" name="TenantCarbonAppUploaderRegistryException" wsaw:Action="urn:uploadCarbonApplicationTenantCarbonAppUploaderRegistryException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TenantCarbonAppUploaderSoap11Binding" type="ns:TenantCarbonAppUploaderPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="removeCarbonApplication">
         <soap:operation soapAction="urn:removeCarbonApplication" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUploaderRegistryException">
            <soap:fault use="literal" name="TenantCarbonAppUploaderRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deployCarbonApplication">
         <soap:operation soapAction="urn:deployCarbonApplication" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUploaderRegistryException">
            <soap:fault use="literal" name="TenantCarbonAppUploaderRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplication">
         <soap:operation soapAction="urn:uploadCarbonApplication" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUploaderRegistryException">
            <soap:fault use="literal" name="TenantCarbonAppUploaderRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantCarbonAppUploaderSoap12Binding" type="ns:TenantCarbonAppUploaderPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="removeCarbonApplication">
         <soap12:operation soapAction="urn:removeCarbonApplication" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUploaderRegistryException">
            <soap12:fault use="literal" name="TenantCarbonAppUploaderRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deployCarbonApplication">
         <soap12:operation soapAction="urn:deployCarbonApplication" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUploaderRegistryException">
            <soap12:fault use="literal" name="TenantCarbonAppUploaderRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplication">
         <soap12:operation soapAction="urn:uploadCarbonApplication" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppUploaderRegistryException">
            <soap12:fault use="literal" name="TenantCarbonAppUploaderRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantCarbonAppUploaderHttpBinding" type="ns:TenantCarbonAppUploaderPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="removeCarbonApplication">
         <http:operation location="removeCarbonApplication"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deployCarbonApplication">
         <http:operation location="deployCarbonApplication"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplication">
         <http:operation location="uploadCarbonApplication"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TenantCarbonAppUploader">
      <wsdl:port name="TenantCarbonAppUploaderHttpsSoap11Endpoint" binding="ns:TenantCarbonAppUploaderSoap11Binding">
         <soap:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppUploader.TenantCarbonAppUploaderHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantCarbonAppUploaderHttpsSoap12Endpoint" binding="ns:TenantCarbonAppUploaderSoap12Binding">
         <soap12:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppUploader.TenantCarbonAppUploaderHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantCarbonAppUploaderHttpsEndpoint" binding="ns:TenantCarbonAppUploaderHttpBinding">
         <http:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppUploader.TenantCarbonAppUploaderHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>