modules/service-stubs/org.wso2.intcloud.services.tenant.carbonapps.stub/src/main/resources/TenantCarbonAppAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://deployer.carbonapps.tenant.services.intcloud.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2608="http://api.registry.carbon.wso2.org/xsd" xmlns:ax2607="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://deployer.carbonapps.tenant.services.intcloud.wso2.org">
   <wsdl:documentation>TenantCarbonAppAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax2609="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
         <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
         <xs:complexType name="RegistryException">
            <xs:complexContent>
               <xs:extension base="ax2609:RegistryException">
                  <xs:sequence/>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax2610="http://exceptions.core.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deployer.carbonapps.tenant.services.intcloud.wso2.org">
         <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
         <xs:element name="TenantCarbonAppAdminServiceRegistryException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2610:RegistryException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeCarbonApplicationInRegistry">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                  <xs:element minOccurs="0" name="carbonApplicationName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeCarbonApplicationInRegistryResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deployCarbonApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                  <xs:element minOccurs="0" name="carbonApplicationName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deployCarbonApplicationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadCarbonApplicationToRegistry">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                  <xs:element minOccurs="0" name="carbonApplicationName" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="carbonApplicationPath" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadCarbonApplicationToRegistryResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
         <xs:complexType name="RegistryException">
            <xs:sequence/>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="deployCarbonApplicationRequest">
      <wsdl:part name="parameters" element="ns:deployCarbonApplication"/>
   </wsdl:message>
   <wsdl:message name="deployCarbonApplicationResponse">
      <wsdl:part name="parameters" element="ns:deployCarbonApplicationResponse"/>
   </wsdl:message>
   <wsdl:message name="TenantCarbonAppAdminServiceRegistryException">
      <wsdl:part name="parameters" element="ns:TenantCarbonAppAdminServiceRegistryException"/>
   </wsdl:message>
   <wsdl:message name="removeCarbonApplicationInRegistryRequest">
      <wsdl:part name="parameters" element="ns:removeCarbonApplicationInRegistry"/>
   </wsdl:message>
   <wsdl:message name="removeCarbonApplicationInRegistryResponse">
      <wsdl:part name="parameters" element="ns:removeCarbonApplicationInRegistryResponse"/>
   </wsdl:message>
   <wsdl:message name="uploadCarbonApplicationToRegistryRequest">
      <wsdl:part name="parameters" element="ns:uploadCarbonApplicationToRegistry"/>
   </wsdl:message>
   <wsdl:message name="uploadCarbonApplicationToRegistryResponse">
      <wsdl:part name="parameters" element="ns:uploadCarbonApplicationToRegistryResponse"/>
   </wsdl:message>
   <wsdl:portType name="TenantCarbonAppAdminServicePortType">
      <wsdl:operation name="deployCarbonApplication">
         <wsdl:input message="ns:deployCarbonApplicationRequest" wsaw:Action="urn:deployCarbonApplication"/>
         <wsdl:output message="ns:deployCarbonApplicationResponse" wsaw:Action="urn:deployCarbonApplicationResponse"/>
         <wsdl:fault message="ns:TenantCarbonAppAdminServiceRegistryException" name="TenantCarbonAppAdminServiceRegistryException" wsaw:Action="urn:deployCarbonApplicationTenantCarbonAppAdminServiceRegistryException"/>
      </wsdl:operation>
      <wsdl:operation name="removeCarbonApplicationInRegistry">
         <wsdl:input message="ns:removeCarbonApplicationInRegistryRequest" wsaw:Action="urn:removeCarbonApplicationInRegistry"/>
         <wsdl:output message="ns:removeCarbonApplicationInRegistryResponse" wsaw:Action="urn:removeCarbonApplicationInRegistryResponse"/>
         <wsdl:fault message="ns:TenantCarbonAppAdminServiceRegistryException" name="TenantCarbonAppAdminServiceRegistryException" wsaw:Action="urn:removeCarbonApplicationInRegistryTenantCarbonAppAdminServiceRegistryException"/>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplicationToRegistry">
         <wsdl:input message="ns:uploadCarbonApplicationToRegistryRequest" wsaw:Action="urn:uploadCarbonApplicationToRegistry"/>
         <wsdl:output message="ns:uploadCarbonApplicationToRegistryResponse" wsaw:Action="urn:uploadCarbonApplicationToRegistryResponse"/>
         <wsdl:fault message="ns:TenantCarbonAppAdminServiceRegistryException" name="TenantCarbonAppAdminServiceRegistryException" wsaw:Action="urn:uploadCarbonApplicationToRegistryTenantCarbonAppAdminServiceRegistryException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TenantCarbonAppAdminServiceSoap11Binding" type="ns:TenantCarbonAppAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="deployCarbonApplication">
         <soap:operation soapAction="urn:deployCarbonApplication" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppAdminServiceRegistryException">
            <soap:fault use="literal" name="TenantCarbonAppAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeCarbonApplicationInRegistry">
         <soap:operation soapAction="urn:removeCarbonApplicationInRegistry" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppAdminServiceRegistryException">
            <soap:fault use="literal" name="TenantCarbonAppAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplicationToRegistry">
         <soap:operation soapAction="urn:uploadCarbonApplicationToRegistry" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppAdminServiceRegistryException">
            <soap:fault use="literal" name="TenantCarbonAppAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantCarbonAppAdminServiceSoap12Binding" type="ns:TenantCarbonAppAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="deployCarbonApplication">
         <soap12:operation soapAction="urn:deployCarbonApplication" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppAdminServiceRegistryException">
            <soap12:fault use="literal" name="TenantCarbonAppAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeCarbonApplicationInRegistry">
         <soap12:operation soapAction="urn:removeCarbonApplicationInRegistry" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppAdminServiceRegistryException">
            <soap12:fault use="literal" name="TenantCarbonAppAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplicationToRegistry">
         <soap12:operation soapAction="urn:uploadCarbonApplicationToRegistry" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="TenantCarbonAppAdminServiceRegistryException">
            <soap12:fault use="literal" name="TenantCarbonAppAdminServiceRegistryException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantCarbonAppAdminServiceHttpBinding" type="ns:TenantCarbonAppAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="deployCarbonApplication">
         <http:operation location="deployCarbonApplication"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeCarbonApplicationInRegistry">
         <http:operation location="removeCarbonApplicationInRegistry"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="uploadCarbonApplicationToRegistry">
         <http:operation location="uploadCarbonApplicationToRegistry"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TenantCarbonAppAdminService">
      <wsdl:port name="TenantCarbonAppAdminServiceHttpsSoap11Endpoint" binding="ns:TenantCarbonAppAdminServiceSoap11Binding">
         <soap:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppAdminService.TenantCarbonAppAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantCarbonAppAdminServiceHttpsSoap12Endpoint" binding="ns:TenantCarbonAppAdminServiceSoap12Binding">
         <soap12:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppAdminService.TenantCarbonAppAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantCarbonAppAdminServiceHttpsEndpoint" binding="ns:TenantCarbonAppAdminServiceHttpBinding">
         <http:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantCarbonAppAdminService.TenantCarbonAppAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>