modules/service-stubs/org.wso2.intcloud.services.tenant.templates.stub/src/main/resources/TenantTemplateAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://templates.tenant.services.intcloud.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2607="http://common.templates.mediation.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://templates.tenant.services.intcloud.wso2.org">
   <wsdl:documentation>TenantTemplateAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.templates.mediation.carbon.wso2.org/xsd">
         <xs:complexType name="TemplateInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="artifactContainerName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean"/>
               <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
               <xs:element minOccurs="0" name="isEdited" type="xs:boolean"/>
               <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax2608="http://common.templates.mediation.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://templates.tenant.services.intcloud.wso2.org">
         <xs:import namespace="http://common.templates.mediation.carbon.wso2.org/xsd"/>
         <xs:element name="getTemplateInTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                  <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getTemplateInTenantResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getTemplatesInTenant">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                  <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                  <xs:element minOccurs="0" name="templatePerPage" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getTemplatesInTenantResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2608:TemplateInfo"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getTemplatesInTenantRequest">
      <wsdl:part name="parameters" element="ns:getTemplatesInTenant"/>
   </wsdl:message>
   <wsdl:message name="getTemplatesInTenantResponse">
      <wsdl:part name="parameters" element="ns:getTemplatesInTenantResponse"/>
   </wsdl:message>
   <wsdl:message name="getTemplateInTenantRequest">
      <wsdl:part name="parameters" element="ns:getTemplateInTenant"/>
   </wsdl:message>
   <wsdl:message name="getTemplateInTenantResponse">
      <wsdl:part name="parameters" element="ns:getTemplateInTenantResponse"/>
   </wsdl:message>
   <wsdl:portType name="TenantTemplateAdminServicePortType">
      <wsdl:operation name="getTemplatesInTenant">
         <wsdl:input message="ns:getTemplatesInTenantRequest" wsaw:Action="urn:getTemplatesInTenant"/>
         <wsdl:output message="ns:getTemplatesInTenantResponse" wsaw:Action="urn:getTemplatesInTenantResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getTemplateInTenant">
         <wsdl:input message="ns:getTemplateInTenantRequest" wsaw:Action="urn:getTemplateInTenant"/>
         <wsdl:output message="ns:getTemplateInTenantResponse" wsaw:Action="urn:getTemplateInTenantResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TenantTemplateAdminServiceSoap11Binding" type="ns:TenantTemplateAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getTemplatesInTenant">
         <soap:operation soapAction="urn:getTemplatesInTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getTemplateInTenant">
         <soap:operation soapAction="urn:getTemplateInTenant" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantTemplateAdminServiceSoap12Binding" type="ns:TenantTemplateAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getTemplatesInTenant">
         <soap12:operation soapAction="urn:getTemplatesInTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getTemplateInTenant">
         <soap12:operation soapAction="urn:getTemplateInTenant" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="TenantTemplateAdminServiceHttpBinding" type="ns:TenantTemplateAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getTemplatesInTenant">
         <http:operation location="getTemplatesInTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getTemplateInTenant">
         <http:operation location="getTemplateInTenant"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TenantTemplateAdminService">
      <wsdl:port name="TenantTemplateAdminServiceHttpsSoap11Endpoint" binding="ns:TenantTemplateAdminServiceSoap11Binding">
         <soap:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantTemplateAdminService.TenantTemplateAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantTemplateAdminServiceHttpsSoap12Endpoint" binding="ns:TenantTemplateAdminServiceSoap12Binding">
         <soap12:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantTemplateAdminService.TenantTemplateAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="TenantTemplateAdminServiceHttpsEndpoint" binding="ns:TenantTemplateAdminServiceHttpBinding">
         <http:address location="https://maheekas-macbook-pro-4.local:8253/services/TenantTemplateAdminService.TenantTemplateAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>